{% extends "_commit_base.html" %}

{% block commit_content %}

<h4>
    {% set isbranch = (rev in repository.git.branches) %}

    <span class="branch-select">
    <span class="input-group">
        <span class="input-group-addon input-small">{% if isbranch %}branch{% else %}commit{% endif %}</span>

        <select class="form-control input-small" id="branch-select">
            {% for branch in repository.git.branches %}
                <option value="{{ url_for('git.browse', slug=repository.slug, rev=branch, path=path) }}" {% if branch.commit == commit %}selected="SELECTED"{% endif %}>{{ branch.name }}</option>
            {% endfor %}

            {% if not isbranch %}
                <option value="{{ url_for('git.browse', slug=repository.slug, rev=rev, path=path) }}" selected="SELECTED">{{ rev[:10] }}</option>
            {% endif %}
        </select>
    </span>
    </span>

    {% include "_path.html" %}

    <span class="pull-right">
        <a href="{{ url_for('git.commit', slug=repository.slug, rev=rev if rev else branch) }}" class="btn btn-primary btn-small">Commit details</a>
    </span>
</h4>

<table class="table table-bordered table-striped tree-table">
    <thead>
        <tr>
            <th width="16"></th>
            <th>Filename</th>
            <th>Size</th>
            <th>Last changed</th>
            <th>Commit</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
    {% if path %}
    <tr class="folder">
        <td><i class="fam-16 fam-folder"></i></td>
        <td><a href="{{ url_for('git.browse', slug=repository.slug, rev=rev, path=path | parentpath) }}">[..]</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-muted">- parent directory -</td>
    </tr>
    {% endif %}

{% if tree.trees or tree.blobs %}
{% for file in tree.trees + tree.blobs %}
    {% set last = commit %} {# repository.findCommitContaining(rev, file) #}
    <tr class="{% if file.type == "TREE" %}folder{% else %}file{% endif %}">
        <td><i class="fam-16 fam-{{ file | filetype }}"></i></td>
        <td><a href="{{ url_for('git.browse', slug=repository.slug, rev=rev, path=file.path) }}">{{ file.name }}</a></td>
        <td>{% if file.type == "BLOB" %}{{ file.size | filesize }}{% else %}&mdash;{% endif %}</td>
        <td>{{ last | git_committer_time | datetime }}</td>
        <td><a href="{{ url_for('git.commit', slug=repository.slug, rev=last.hexsha) }}" class="sha">{{ last.hexsha|shortsha }}</a></td>
        <td>{{ last.message[:70] }}</td>
    </tr>
{% endfor %}
{% else %}
    <tr><td colspan="5"><i>This directory is empty.</i></td></tr>
{% endif %}
    </tbody>
</table>

{# SHOW README IF ANY #}
{% set file = tree|find_readme %}
{% if file %}
    {% include "render_file.html" %}
{% elif path == "" %}
    <p>You should add a readme file.</p>
{% endif %}

{% endblock %}
