{% extends "_core_widget.html" %}

{% block title %}{% if repository %}{{ repository.title }} &ndash; {% endif %}Recent Commits{% endblock %}

{% block content %}
    {% if commits %}
        <div class="list-group list-group-small commits-widget">
        {% for commit_repository, commit in commits %}
            <div class="list-group-item">
                <div>
                    {% if not repository %}
                        <b><a style="color: black;" href="{{ url_for('git.repository', slug=commit_repository.slug) }}">{{ commit_repository.title }}</a></b>
                    {% endif %}
                    {{ commit.message|first_line|shorten(55) }}
                </div>
                <div class="info">
                    {{ (commit.author|git_user).get_link() }}
                    authored {{ commit|git_committer_time|date }}
                    <a class="sha" href="{{ url_for('git.commit', slug=commit_repository.slug, rev=commit.hexsha) }}">{{ commit.hexsha|shortsha }}</a>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        Invalid repository slug or no commits found.
    {% endif %}
{% endblock %}
