{% extends "repository/_base.html" %}

{% block repository_actions %}
    <a href="{{ url_for('issue_new', slug=repository.slug) }}" class="btn btn-success btn-sm">New issue</a>
{% endblock %}

{% block repository_content %}

<div class="table-responsive">
    <table class="table issue-table">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Assignee</th>
            <th>Status</th>
            <th>Tags</th>
        </tr>
    {% for issue in issues %}
        <tr class="issue {{ issue.status }}">
            <td class="number">
                <!-- <span class="status-icon"></span> -->
                #{{ issue.number }}
                <i class="status-icon icon-{{ {"open":"circle-blank", "closed":"ok-circle", "invalid":"ban-circle", "wip":"gear", "discussion":"comments"}[issue.status] }}"></i>
            </td>
            <td class="title">
                <a href="{{ issue.get_url() }}">{{ issue.title }}</a>
                {% if issue.issue_comments %}<span class="pull-right">{{ issue.issue_comments|length }} <i class="icon-comment-alt"></i></span>{% endif %}
            </td>
            <td class="assignee">
                {{ issue.assignee.get_link() if issue.assignee else "&mdash;"|safe }}
            </td>
            <td class="status">{{ issue.status }}</td>
            <td class="tags">
                {% for tag in issue.issue_tags %}{{ tag.render() }} {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
