{% extends "repository/_base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block repository_actions %}
    <a href="{{ url_for('issues', slug=repository.slug) }}" class="btn btn-default btn-sm">Cancel</a>
{% endblock %}

{% block repository_content %}

<div class="settings">
    <h3 class="form-title">Open a new issue</h3>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.text.label }}
            {{ form.text(class="form-control", rows=10) }}
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>

    </form>
</div>

{% endblock %}
