{% extends "_base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/git.css') }}" type="text/css" />
    <script src="{{ url_for('static', filename='js/git.js') }}"></script>
    <script>
        var branches = [{% for branch in repository.git.branches %}"{{ branch }}",{% endfor %}];
        var repository = {};
        repository.slug = "{{ repository.slug }}";
    </script>
    {% block repository_head %}{% endblock %}
{% endblock %}

{% block title %}{{ repository.title }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ repository.title }}

        <p class="pull-right repository-actions">
            {% block repository_actions %}{% endblock %}
        </p>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-4">
            <div class="repo-sidebar">
                <ul class="sub-nav sidebar-nav card" style="margin-bottom: 1em;">
                    <li{{ ' class="active"'|safe if request.endpoint in ("repository",) else "" }}><a href="{{ url_for('repository', slug=repository.slug) }}"><i class="fa fa-rocket"></i> <span class="tab-label">Home</span></a></li>
                    <li{{ ' class="active"'|safe if request.endpoint in ("history", "commit", "graph") else "" }}><a href="{{ url_for('history', slug=repository.slug) }}"><i class="fa fa-history"></i> <span class="tab-label">History</span></a></li>
                    <li{{ ' class="active"'|safe if request.endpoint == "browse"  else "" }}><a href="{{ url_for('browse', slug=repository.slug) }}"><i class="fa fa-file"></i> <span class="tab-label">Browse</span></a></li>
                    <li{{ ' class="active"'|safe if request.endpoint.startswith("issue")  else "" }}><a href="{{ url_for('issues', slug=repository.slug) }}"><i class="fa fa-exclamation-circle"></i> <span class="tab-label">Issues</span></a></li>
                    <li{{ ' class="active"'|safe if request.endpoint.startswith("merge")  else "" }}><a href="{{ url_for('merges', slug=repository.slug) }}"><i class="fa fa-level-up"></i> <span class="tab-label">Merge requests</span></a></li>
                    <li{{ ' class="active"'|safe if request.endpoint.startswith("wiki")    else "" }}><a href="{{ url_for('wiki', slug=repository.slug) }}"><i class="fa fa-book"></i> <span class="tab-label">Wiki</span></a></li>
                    <li {{ ' class="active"'|safe if request.endpoint.startswith("stats")    else "" }}><a href="{{ url_for('stats', slug=repository.slug) }}"><i class="fa fa-bar-chart-o"></i> <span class="tab-label">Stats</span></a></li>
                    {% if repository.has_permission(current_user, "admin") %}
                    <li{{ ' class="active"'|safe if request.endpoint == "admin"   else "" }}><a href="{{ url_for('admin', slug=repository.slug) }}"><i class="fa fa-wrench"></i> <span class="tab-label">Admin</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-10 col-sm-8">
            <div class="repo-content">
                {% block repository_content %}{% endblock %}
            </div>
        </div>
    </div>


{% endblock %}
