{% extends "repository/content/_base_commit.html" %}

{% block repository_actions %}
    <a href="{{ url_for('commit', slug=repository.slug, rev=rev if rev else branch) }}" class="btn btn-primary btn-sm">Commit details</a>
{% endblock %}

{% block commit_content %}

<h4>
    {% set isbranch = repository.is_branch(rev) %}

    <span class="branch-select">
    <span class="input-group">
        <span class="input-group-addon input-small">{% if isbranch %}branch{% else %}commit{% endif %}</span>

        <select class="form-control input-sm" id="branch-select">
            {% for branch in repository.git.branches %}
                <option value="{{ url_for('browse', slug=repository.slug, rev=branch, path=path) }}" {% if rev==branch.name or rev==branch.path %}selected="SELECTED"{% endif %}>{{ branch.name }}</option>
            {% endfor %}

            {% if not isbranch %}
                <option value="{{ url_for('browse', slug=repository.slug, rev=rev, path=path) }}" selected="SELECTED">{{ rev[:10] }}</option>
            {% endif %}
        </select>
    </span>
    </span>

    {% include "repository/content/_path.html" %}
</h4>

<div class="table-responsive">
<table class="table table-bordered table-striped tree-table">
    <thead>
        <tr>
            <th width="16"></th>
            <th>Filename</th>
            <th>Size</th>
            <th>Last changed</th>
            <th>Commit</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
    {% if path %}
    <tr class="folder">
        <td><i class="fam-16 fam-folder"></i></td>
        <td><a href="{{ url_for('browse', slug=repository.slug, rev=rev, path=path | parentpath) }}">[..]</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-muted">- parent directory -</td>
    </tr>
    {% endif %}

{% if tree.trees or tree.blobs %}
{% for file in tree.trees + tree.blobs %}
    {% set last = repository.find_commit_containing(rev, file) %}
    <tr class="{% if file.type == "TREE" %}folder{% else %}file{% endif %}">
        <td><i class="fam-16 fam-{{ file | filetype }}"></i></td>
        <td><a href="{{ url_for('browse', slug=repository.slug, rev=rev, path=file.path) }}">{{ file.name }}</a></td>
        <td>{% if file.type == "BLOB" %}{{ file.size | filesize }}{% else %}&mdash;{% endif %}</td>
        <td>{{ last | git_committer_time | datetime }}</td>
        <td><a href="{{ url_for('commit', slug=repository.slug, rev=last.hexsha) }}" class="sha">{{ last.hexsha|shortsha }}</a></td>
        <td>{{ last.message[:70] }}</td>
    </tr>
{% endfor %}
{% else %}
    <tr><td colspan="5"><i>This directory is empty.</i></td></tr>
{% endif %}
    </tbody>
</table>
</div>

{# SHOW README IF ANY #}
{% set file = tree|find_readme %}
{% if file %}
    {% include "repository/content/_render_file.html" %}
{% elif path == "" and repository.has_permission(current_user, "write") %}
    <div class="alert alert-info">If you add a readme file, for example <b>README.md</b>, to this repository, it will be shown here.</div>
{% endif %}

{% endblock %}
