{% if not noemptybase %}
{% extends "repository/_base.html" %}
{% endif %}

{% block repository_content %}

<div class="card">
    <div class="alert alert-info">
        <strong>Empty repository:</strong>
        This repository does not yet contain any files. To start, clone it to your
        local system, and push some commits back online.
    </div>

    <h4>Clone this repository</h4>
    <pre>git clone {{ repository.git_url }}
    </pre>

    <h4>Push from an existing repository</h4>
    <pre>git remote add origin {{ repository.git_url }}
    git push -u origin master
    </pre>
</div>
{% endblock %}
