{% extends "repository/_base.html" %}

{% set raw_url = url_for('file_content', slug=repository.slug, rev=rev, path=file.path) %}

{% block repository_content %}

<div class="card">
    <div class="pull-right">
        {% block file_actions %}{% endblock %}
        <a href="{{ raw_url }}" class="btn btn-primary btn-small"><i class="fa fa-save"></i> Download</a>
    </div>

    <h3 style="margin-top: 0">{{ file.name }}</h3>

    {% set path = file.path %}
    <p>{% include "repository/content/_path.html" %}</p>
</div>

{% include "repository/content/_render_file.html" %}

{% endblock %}

