{% extends "repository/_base.html" %}

{% block repository_content %}
<div  style="width: 100%">
    <table class="table">
        <tr>
            <th>Author</th>
            <th>Commit</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
    {% for commit in repository.get_commits()|reverse %}
        <tr>
            <td>{{ (commit.author|git_user).get_link() }}</td>
            <td><a href="{{ url_for('commit', slug=repository.slug, rev=commit.hexsha) }}" class="sha">{{ commit.hexsha|shortsha }}</a></td>
            <td><div class="nobreak">{{ (commit.message*5)|first_line|shorten(120) }}</div></td>
            <td>{{ commit|git_committer_time|date_human }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
