<div class="activity {{ activity.type }}">

    <i class="icon fa fa-{% block icon %}circle-o{% endblock %}"></i>

    <div class="title">
        {% if mode == "user" %}
            <span class="repository">
                In {{ activity.repository.get_link() }}:
            </span>
        {% else %}
            {{ activity.user.get_link(size=18) }} 
        {% endif %}
        {% block title %}{% endblock %}

        <span class="date">
            <!-- {{ activity.date|date_human }} -->
            at {{ activity.date|time(small=true) }}
        </span>
    </div>


    {% if self.content() %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% endif %}
</div>