{% extends "repository/_base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block repository_actions %}
{% endblock %}

{% block repository_content %}

{% if action == "view" %}
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right">
                        {% if page.can_edit(current_user) %}
                            <a href="{{ url_for('wiki_delete', slug=repository.slug, page=page.slug) }}" class="btn btn-danger btn-sm">Delete</a>
                            <a href="{{ url_for('wiki_edit', slug=repository.slug, page=page.slug) }}" class="btn btn-primary btn-sm">Edit</a>
                        {% endif %}
                    </div>

                    <ol class="breadcrumb">
                        {% for p in [page] recursive %}
                            {% if p.parent_page %}{{ loop([p.parent_page]) }}{% endif %}
                            <li{% if p == page %} class="active"{% endif %}>
                                {% if p == page %}
                                    {{ p.title }}
                                {% else %}
                                    <a href="{{ p.get_url() }}">{{ p.title }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="panel-body">
                    <div class="markdown">
                        {{ page.text | markdown }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <hr class="visible-xs visible-sm"/>
            <a href="{{ url_for('wiki_new', slug=repository.slug) }}" class="btn btn-success">Create a new page</a>
            <hr />

            <h3>Wiki pages</h3>
            <ul class="wiki-pages">
                {% for p in repository.get_root_wiki_pages() recursive %}
                    <li class="{{ 'current' if page == p else '' }}">
                        <a href="{{ p.get_url() }}">{{ p.title }}</a>
                        {% if p.child_pages %}
                            <ul>{{ loop(p.child_pages) }}</ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% elif action == "edit" or action == "new" %}
    <form method="post" role="form" action="{{ url_for('wiki_' + action, slug=repository.slug, page=page.slug) }}">
        <div class="page-header">
            <h1>
                {% if action != "new" %}Edit: {{ page.title }}{% else %}Create new Page{% endif %}

                <small class="pull-right toolbar">
                    <a href="{{ url_for('wiki_page', slug=repository.slug, page=page.slug) if action == 'edit' else url_for('wiki', slug=repository.slug) }}" class="btn btn-link">Cancel</a>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </small>
            </h1>
        </div>
        <div class="content">
            {{ form_errors(form) }}
            {{ form.hidden_tag() }}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.title.label }}
                        {{ form.title(placeholder="Page title", class="form-control") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.parent_page_id.label }}
                        {{ form.parent_page_id(class="form-control") }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form.text.label }}
                {{ form.text(class="form-control code", rows=16) }}
            </div>
        </div>
    </form>
{% else %}
    <p class="alert alert-error">Invalid page action.</a>
{% endif %}
{% endblock %}
