{% extends "_base_repository.html" %}

{% set raw_url = url_for('file_content', slug=repository.slug, rev=rev, path=file.path) %}

{% block repository_content %}

<div class="page-header">
    <div class="pull-right">
        {% block file_actions %}{% endblock %}
        <a href="{{ raw_url }}" class="btn btn-primary btn-small"><i class="icon-hdd"></i> Download</a>
    </div>

    <h3>{{ file.name }}</h3>
</div>

{% set path = file.path %}
<p>{% include "git/_path.html" %}</p>

{% include "git/_render_file.html" %}
{% endblock %}

