{% extends "_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="page-header">
        <h1><i class="fa fa-key"></i> Login</h1>
    </div>

    <div class="content login well">
        <form method="POST" action="{{ url_for('login') }}" role="form">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.identifier.label }}
                {{ form.identifier(class="form-control")}}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control")}}
            </div>

            <div class="form-group text-right">
                <a class="btn btn-default" href="{{ url_for('register') }}">Register</a>
                <input type="submit" value="Login" class="btn btn-primary">
            </div>
        </form>
    </div>
{% endblock %}
