{% extends "_base.html" %}

{% block title %}{{ user.get_display_name() }}{% endblock %}

{% block content %}

<div class="row" style="margin-top: 20px;">
    <div class="col-sm-3">
        <div class="profile-sidebar card">
            <div class="avatar-box">
                <img src="{{ user.get_avatar(200) }}" class="avatar"/>
            </div>
            <h3>{{ user.get_display_name() }}</h3>

            <ul class="list-unstyled">
                {% if user.name     %}<li><i class="fa fa-user"></i> {{ user.identifier }}</li>{% endif %}
                {% if user.location %}<li><i class="fa fa-home"></i> {{ user.location }}</li>{% endif %}
            </ul>

            {% if user == current_user %}
            <hr />
            <p><a class="btn btn-primary" href="{{ url_for('settings') }}">Profile settings</a></p>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <h3>Recent activity</h3>


            <div class="activities">
                {% for activity in user.activities.order_by("date DESC") %}
                    <hr />
                    {{ activity.render("user") }}
                {% endfor %} 
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        {% set owned = user.get_owned_repositories().all() %}
        {% if owned %}
        <div class="card">
            <h3>Repositories</h3>
            <ul class="list-unstyled">
            {% for repository in owned if repository.has_permission(current_user, "find") %}
                <li>{{ repository.get_link() }}</li>
            {% else %}
                <li><i>You do not have permission to view any of these repositories.</i></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="card">
            <h3>Statistics</h3>
            <ul class="list-unstyled">
                <li>
                    <b>{{ user.authored_issues|length }}</b> 
                    issues created
                </li>
            </ul>
        </div>        
    </div>
</div>

{% endblock %}
