<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>{% block title %}{% endblock %} &middot; miniSUITE</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-opensans.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}" type="text/css" />

        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core.js') }}"></script>

        <link rel="shortcut icon" href="http://example.com/myicon.ico" />

        <link rel="shortcut icon" href="{{ url_for('static', filename='gfx/favicon.ico') }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ url_for('static', filename='gfx/favicon.png') }}" type="image/png">

        {% block head %}{% endblock %}
    </head>

    <body class="default">
        <div id="wrapper">
            <div id="body">

                <nav class="navbar navbar-inverse navbar-static-top">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ url_for('index') }}">
                                <img src="{{ url_for('static', filename='gfx/header.png') }}" />
                            </a>
                        </div>

                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ url_for('repositories') }}">Repositories</a></li>
                                <li><a href="{{ url_for('users') }}">Users</a></li>
                                <li><a href="{{ url_for('settings') }}">Settings</a></li>
                                <li><a href="{{ url_for('admin', slug='none') }}">Admin</a></li>
                            </ul>

                            <ul class="nav navbar-nav pull-right">
                            {% if current_user.is_active() %}
                                <li>
                                    <a class="current-user" href="{{ current_user.get_url() }}">
                                        <img class="avatar" src="{{ current_user.get_avatar(20) }}" />
                                        {{ current_user.username }}
                                    </a>
                                </li>
                                <li><a href="{{ url_for('logout') }}"><i class="icon-off"></i></a>
                            {% else %}
                                <li><a href="{{ url_for('login') }}">Login</a></li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>

                {% include "_flashes.html" %}
                <div class="container">
                    {% block content %}
                        <p class="alert alert-error">No content provided by template.</a>
                    {% endblock %}
                </div>
            </div>

            <footer class="footer" id="footer">
                <div class="container">
                    <p>Powered by <a href="https://github.com/opatut/minigit">miniSUITE</a>.</p>
                </div>
            </footer>
        </div>
    </body>
</html>
