<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>{% block title %}{% endblock %} &middot; miniSUITE</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-opensans.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}" type="text/css" />

        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core.js') }}"></script>

        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.png') }}" type="image/png">

        {% block head %}{% endblock %}
    </head>

    <body class="default">
        <div id="wrapper">
            <div id="body">
                <div class="navbar navbar-static-top navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container">
                            {% macro render_menu(list, level=0) %}
                                {% if list %}
                                <ul{% if level == 0 %} class="nav navbar-nav"{% else %} class="dropdown-menu" role="menu"{% endif %}>
                                    {% for item in list %}
                                        <li class="dropdown{{' active' if item.find_current() else ''}}">
                                            <a href="{{ item.get_url() }}">{{ item.title }}</a>
                                            {{ render_menu(item.children, level + 1) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            {% endmacro %}
                            {{ render_menu(menu) }}

                            <div class="pull-right navbar-text">
                                {% if current_user.is_active() %}
                                    Logged in as {{ current_user.username }}
                                    &nbsp;<a class="btn btn-mini btn-default" href="{{ url_for('logout') }}"><i class="icon-off"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    {% include "_flashes.html" %}
                    {% block content %}
                        <p class="alert alert-error">No content provided by template.</a>
                    {% endblock %}
                </div>
            </div>

            <footer class="footer" id="footer">
                <div class="container">
                    <p>Powered by <a href="https://github.com/opatut/minigit">miniSUITE</a>.</p>
                </div>
            </footer>
        </div>
    </body>
</html>
