{% extends "_base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/git.css') }}" type="text/css" />
{% endblock %}

{% block title %}Repository List{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="pull-right">
            {% if current_user.has_permission("repository.create") %}
            <a href="{{ url_for('repository_new') }}" class="btn btn-primary">New repository</a>
            {% endif %}
        </div>
        <h1>Repository List</h1>
    </div>

<hr />
{% for repository in repositories if repository.has_permission(current_user, "find") %}
<div class="repository">
    <h3>
        <a href="{{ url_for('repository', slug=repository.slug) }}">{{ repository.title }}</a>
        <small><b>/</b> {{ repository.slug }}</small>
    </h3>

    <div class="details">
        {{ (repository.description or "This repository has no description.")|markdown }}
    </div>

    <div class="options">
        <a class="btn btn-default btn-xs" href="{{ url_for('history', slug=repository.slug) }}"><i class="fa fa-history"></i> History</a>
        <a class="btn btn-default btn-xs" href="{{ url_for('browse', slug=repository.slug) }}"><i class="fa fa-file"></i> Browse</a>
        <a class="btn btn-default btn-xs" href="{{ url_for('issues', slug=repository.slug) }}"><i class="fa fa-exclamation-circle"></i> Issues</a>

        <code>git clone {{ repository.git_url }}</code>
    </div>
</div>
<hr />
{% endfor %}

{% endblock %}
