html, body {
    height: 100%;
}

body {
    font-family: Open Sans;
    font-size: 10pt;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#body {
    min-height: 100%;
    padding-bottom: 100px;
}

.navbar {
    margin-bottom: 10px;
}

.page-header {
    height: auto;
    padding: 0;
    border-bottom-width: 3px;
}

.page-header h1 {
    font-size: 2em;
    font-weight: normal;
    margin: 0;
}

.page-header h1 * {
    vertical-align: middle;
}

footer {
    height: 30px;
    background: #F7F7F7;
    border-top: 1px solid #DDD;
    margin-top: 20px;
    padding: 20px 0 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;
}

ul.nav li.dropdown > ul.dropdown-menu {
    border-radius: 0;
    margin-top: 1px;
    background: #F9F9F9;
    border-top: 0;
}

.navbar .nav > li > .dropdown-menu:before {
}

.navbar .nav > li > .dropdown-menu:after {
    border-bottom-color: #F9F9F9;
}

textarea.code {
    font-family: monospace;
}
