html, body {
    height: 100%;
}

.container {
    /*max-width: none;*/
}

body {
    font-family: Open Sans;
    font-size: 10pt;
    background: #F6F6F6;
}

.card {
    padding: 1.5rem;
    position:relative;
    z-index:2;
    border-radius:3px;
    user-select:none;
    background:white;
    box-shadow: 0 1px 2px #BBB;
    margin-bottom: 1rem;
}

.card.nopad {
    padding: 0;
    overflow: hidden;
}

.card > :first-child {
    margin-top: 0.2em;
}
.card > :last-child {
    margin-bottom: 0.2em;
}

:focus {
    outline: 0;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#body {
    min-height: 100%;
    padding-bottom: 100px;
}

.navbar {
    margin-bottom: 0px;
}

.flashes {
    margin-bottom: 10px;
}

.flashes .container {
    padding-right: 24px;
}

.flashes .alert {
    margin: 0px;
    margin-bottom: 2px;
    height: 48px;
    line-height: 48px;
    padding: 0;
}

.page-header {
    height: auto;
    padding: 0;
    border: 0;
    margin-top: 20px;
}

.page-header h1 {
    font-size: 2em;
    font-weight: normal;
    margin: 0;
}

.page-header h1 * {
    vertical-align: middle;
}

footer {
    height: 60px;
    background: #F7F7F7;
    border-top: 1px solid #DDD;
    margin-top: 20px;
    padding: 20px 0 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;
}

ul.nav li.dropdown > ul.dropdown-menu {
    border-radius: 0;
    margin-top: 1px;
    background: #F9F9F9;
    border-top: 0;
}

.navbar .nav > li > .dropdown-menu:before {
    display: none;
}

.navbar .nav > li > .dropdown-menu:after {
    border-bottom-color: #F9F9F9;
    display: none;
}

.navbar .nav > li > ul {
    padding: 0px;
    margin-top: -1px;
}
.navbar .nav > li > ul li a:hover {
    background: #555;
}
.navbar .nav > li > ul li.active a {
    background: #111;
    color: #FFF;
}

textarea {
    font: inherit !important;
}

textarea.code {
    font-family: monospace !important;
}

.login {
    max-width: 30em;
}

form {
    margin: 0;
}

.table tr:first-child > * {
    border-top: 0;
    border-bottom-width: 0;
}

.table th, .table td {
    padding: 6px 12px;
}

.sha {
    font-family: monospace;
    font-size: 0.9em;
}

ul.nav-tabs li a i {
    font-size: 14px;
    vertical-align: top;
    margin-right: 3px;
}




/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.callout h4 {
  margin-top: 0;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code,
.callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.user .avatar {
    vertical-align: -3px;
    margin: 0 1px;
}

.avatar {
    border-radius: 3px;
}

.current-user {
    display: inline-block;
    margin-right: 10px;
}
.current-user .avatar {
    margin-right: 0.3em;
}

.navbar-header button.navbar-toggle {
    width: 36px;
    height: 36px;
    line-height: 20px;
    font-size: 20px;
    padding: 6px;
}

.sidebar-nav {
    margin-bottom: 2em;
}

.sub-nav .tab-label {
    display: none;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 8px 0 !important;
    /*border: 1px solid #DDD;*/
    background: #FFF;
}


.repository-actions .btn {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: box-shadow 0.4s ease;
}

.repository-actions .btn:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15); }

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    padding: 0 14px;
    /*border-top: 1px solid #FFF;*/
    /*border-bottom: 1px solid #DDD;*/
    color: #666;
    transition: padding-left 0.2s;
    height: 40px;
    line-height: 40px;
}

.sidebar-nav li a .fa {
    width: 20px;
}

.sidebar-nav li.active a,
.sidebar-nav li.active a:hover {
    font-weight: bold;
    background: #F9F9F9;
    color: #000;
    padding-left: 14px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: #F9F9F9;
    color: #222;
    padding-left: 28px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sub-nav {
    white-space: nowrap;
}

.sub-nav .label, 
.sub-nav .badge {
    margin-left: 5px;
    vertical-align: 1px;
    font-size: 8pt;
    padding: 3px 5px;
    padding-right: 6px;
}


.sub-nav .active .tab-label {
    /*display: inline;*/
}

@media (min-width: 768px) {
    .sub-nav .tab-label {
        display: inline;
    }

    .navbar-brand,
    .navbar-nav > li > a {
        height: 36px;
        line-height: 36px;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
    }

    .navbar-brand img {
        margin-right: 20px;
        vertical-align: baseline;
    }

    .navbar-nav > li > a {
        padding: 0 10px;
    }
}

.navbar {
    border: 0;
}

.navbar-nav > li:hover {
    background: #333;
}

.navbar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.navbar-nav > li > a > i {
    font-size: 14px;
    vertical-align: -2px;
}

.navbar {
    min-height: 0;
}

.user.anonymous {
    color: #888;
}

.info {
    font-size: 0.8em;
    color: #777;
}

.list-group-small .list-group-item {
    padding: 2px 6px;
}

.issuetag {
    margin-right: 2px;
    font-size: 8pt;
    vertical-align: 2px;
    font-weight: normal;
}

.issuetag.dark,
.issuetag.dark:hover {
    color: rgba(0, 0, 0, 0.7);
}

.issue-tag-select {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.issue-tag-select li {
    display: block;
    margin-bottom: 2px;
}

.issue-tag-select li label {
    display: block;
    font-size: 0.8em;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    height: 24px;
}

.issue-tag-select li label span.tag {
    position: absolute;
    left: 15px;
    top: 4px;
    transition: left 0.1s;
}

.issue-tag-select li.inactive:hover label span.tag {
    left: 21px;
}

.issue-tag-select li label span.color {
    display: inline-block;
    border-radius: 2px;
    vertical-align: top;
    transition: width 0.1s;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.issue-tag-select li.inactive:hover label span.color {
    width: 12px;
}

.issue-tag-select li.inactive label span.color {
    width: 6px;
}

.issue-tag-select li input {
    margin: 0;
    display: none;
}

.issue-tag-select li.inactive label {
    color: #000;
}

.issue-tag-select li.active label {
    font-weight: bold;
}

.issue-tag-select li.active label span.tag.dark { color: #000; }
.issue-tag-select li.active label span.tag.light { color: #FFF; }

.issue-tag-select li > * {
    padding: 5px !important;
    text-align: left;
}

.issue-assignee-select,
.issue-status-select {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    background: #F9F9F9;
    box-shadow: none !important;
}

.issue-status-select.closed     { background: #BD2C00; color: #FFF; }
.issue-status-select.open       { background: #6CC644; color: #FFF; }
.issue-status-select.wip        { background: #FFFF88; color: #000; }
.issue-status-select.discussion { background: #AACCFF; color: #FFF; }
.issue-status-select.invalid    { background: #888888; color: #FFF; }

.issue-status-select option { background: #FFF; color: #000; }

.comment-heading {
    /*box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.1) inset;*/
    border-bottom: 1px solid #D9D9D9;
    margin: -1.5rem;
    border-radius: 3px 3px 0 0;
    height: 48px;
    line-height: 48px !important;
    padding: 0 1.5rem;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1.5rem;
}

.comment-heading input {
    vertical-align: middle;
}

.comment-author {
    margin-bottom: 1.5rem;
}

.comment-author > div {
    display: inline-block;
    vertical-align: middle;
}

.comment-author > div {
    margin-right: 1rem;
}

.comment-avatar img,
.comment-author .avatar {
    border-radius: 100px !important;
}

.comment-author .author-name {
    font-size: 1.2em;
}

.comment-meta {
    font-size: 10pt;
    color: #888;
    padding: 0;
    display: inline-block;
}

.comment-meta:first-child {
    border-top: 0;    
}

.comment-meta:first-child {
    border-top: 0;
}

.comment-body p:last-child {
    margin-bottom: 0;
}

.comment-actions ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.comment-actions ul li {
    display: inline-block;
    margin-left: 10px;
}

.comment-actions ul li a {
    text-transform: uppercase;
    text-decoration: none !important;
}

blockquote {
    padding: 5px 10px;
    border-left: 4px solid #e5e5e5;
    margin: 0.5em 0;
}

blockquote * {
    font: inherit !important;
    color: #888;
}


.comment .comment-meta .meta-actions {
    list-style: none;
    padding: 2px;
}

.comment .comment-meta .meta-actions li {
    display: inline-block;
    margin-left: 5px;
}

.comment .comment-meta .meta-actions li a {
    text-decoration: none;
    color: #888;
}

.comment .comment-meta .meta-actions li a:hover {
    color: #444;
}

.comment .comment-meta i {
    font-size: 14px;
}

.comment-reply {
}

.comment-reply textarea {
    border: none;
    box-shadow: none !important;
    padding: 0;
}


.merge span.status-icon,
.issue span.status-icon {
    background: #000;
    display: inline-block;
    height: 26px;
    width: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    margin: -8px;
    margin-right: 5px;
}

th.compact,
td.compact {
    padding-left: 0;
    padding-right: 0;
    width: 10px;
    white-space: nowrap;
}

.merge .status-icon,
.issue .status-icon {
    font-size: 14px;
    margin-right: 5px;
    color: #0A0;
}

.merge.rejected .status-icon,
.issue.invalid .status-icon { 
    color: #A00; 
}

.merge.closed .status-icon,
.issue.closed .status-icon { 
    color: #A00; 
}

.merge-table .number,
.issue-table .number {
    color: #AAA;
}

.merge.rejected .title a,
.issue.invalid .title a,
.issue.closed .title a {
    color: #AAA;
}

ul.wiki-pages, ul.wiki-pages ul {
    list-style: square;
    padding-left: 1.4em;
}

ul.wiki-pages li {
    padding-left: 0;
    color: #555;
}

ul.wiki-pages li.current > a {
    font-weight: bold;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    font: inherit;
    margin: 0;
}

.markdown h1 { font-size: 1.9em; font-weight: bold;   border-bottom: 1px solid #E9E9E9; padding: 0.2em 0; margin: 0.2em 0; }
.markdown h2 { font-size: 1.6em; font-weight: normal; border-bottom: 1px solid #E9E9E9; padding: 0.2em 0; margin: 0.2em 0; }
.markdown h3 { font-size: 1.3em; font-weight: normal; border-bottom: 1px solid #E9E9E9; padding: 0.2em 0; margin: 0.2em 0; }
.markdown h4 { font-size: 1.1em; font-weight: normal; border-bottom: 1px solid #E9E9E9; padding: 0.2em 0; margin: 0.2em 0; }
.markdown h5 { font-size: 1.0em; font-weight: bold; border-bottom: 1px solid #E9E9E9; padding: 0.2em 0; margin: 0.2em 0; }
.markdown h6 { font-size: 1.0em; font-weight: bold; border-bottom: 0px solid #E9E9E9; padding: 0.2em 0; margin: 0.2em 0; }
.markdown img { max-width: 100%; display: block; }


.panel-heading ol.breadcrumb {
    margin: 0;
    padding: 0.4em;
}

.alert {
    padding: 6px 10px;
    border-radius: 0;
}




.user-list .user {
    padding: 10px;
    height: 68px;
    margin-bottom: 30px;
}

.user-list .user .name {
    font-weight: bold;
}

.user-list .user .info,
.user-list .user .username {
    font-size: 0.85em;
}

.user-list .user .info {
    color: #666;
}

.user-list .user .avatar {
    float: left;
    margin-right: 10px;
}

.settings {
    margin-bottom: 2em;
}

.settings h3.form-title {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}

.emails .avatar {
    margin-right: 5px;
}

.emails tr * {
    vertical-align: middle !important;
}

.nowrap,
.emails .address {
    white-space: nowrap;
}

.emails .address span {
    white-space: normal;
    display: inline-block;
}

.btn-inverse {
  color: #ffffff;
  background-color: #373737;
  border-color: #222;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #444;
  border-color: #333;
}

.label-inverse {
  background-color: #333;
}

.label-inverse[href]:hover,
.label-inverse[href]:focus {
  background-color: #444;
}



.profile-sidebar ul.list-unstyled li {
    margin-bottom: 5px;
}

.profile-sidebar i {
    font-size: 14px;
    display: inline-block;
    text-align: center;
    width: 14px;
}

.profile-sidebar .avatar-box {
    margin: -1.5rem;
    margin-bottom: 1.5rem;
}

.profile-sidebar .avatar {
    width: 100%;
    border-radius: 0;
}


.color-picker ul {
    display: block;
    list-style: none;
    font-size: 0pt;
    margin: 0;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #BBB;
}

.color-picker li {
    margin: 0; padding: 0;
    display: inline-block;
    width: 11.1111%;
    height: 20px;
    padding: 0;
}

.color-picker li span {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.color-display {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.tag-edit-list .tag-color {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    vertical-align: -2px;
}

.tag-edit-list .meta-actions {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tag-edit-list .meta-actions li {
    display: inline-block;
    margin-left: 5px;
}

.tag-edit-list .meta-actions li a {
    font-size: 14px;
    text-decoration: none;
    color: #888;
}

.tag-edit-list .meta-actions li a:hover {
    color: #444;
}

.quick-actions .btn {
    text-align: left;
    padding-left: 16px;
}
.quick-actions .btn .fa {
    font-size: 20px;
    margin: -4px;
    width: 20px;
    margin-right: 4px;
    vertical-align: middle;
}

.chart {
    width: 100%;
    height: 300px;
}

.chart-container {
    overflow: auto;
}

.spinner {
    position: relative;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
}
.spinner i {
    margin-left: -20px;
    margin-top: -20px;
}

#overlay {
    z-index: 1000;
}

.card-table {
    margin: 1.5rem 0;
}
.card-table tr > :first-child {
    padding-left: 1.5rem !important;
}
.card-table tr > :last-child {
    padding-right: 1.5rem !important;
}

.activities hr {
    margin: 10px 0;
}

.activity .date {
    color: #AAA;
}

.activity .title {
    font-size: 1.1em;
    /*font-weight: bold;*/
}

.activity .content {
    margin-top: 10px;
    padding-left: 24px;
}

.activity .icon {
    float: left;
    font-size: 21px;
    margin: 0 10px;
    color: #CCC;
}

.activity .icon.big {
    font-size: 28px;
    margin: -3px 10px;
}

.activity .title,
.activity .content {
    margin-left: 50px;
}


