body {
    font-family: Open Sans;
    font-size: 10pt;
}

.navbar {
}

.page-header h1 {
    font-size: 2em;
    font-weight: normal;
}

footer {
    height: 30px;
    background: #F7F7F7;
    border-top: 1px solid #DDD;
    margin-top: 20px;
    padding: 20px 0 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;
}

ul.nav li.dropdown > ul.dropdown-menu {
    border-radius: 0;
    margin-top: 1px;
    background: #F9F9F9;
    border-top: 0;
}

.navbar .nav > li > .dropdown-menu:before {
}

.navbar .nav > li > .dropdown-menu:after {
    border-bottom-color: #F9F9F9;
}
