.repository {
    /*background: #F6F6F6;*/
    /*padding: 12px;*/
    /*margin-bottom: 30px;*/
}

.repository .title {
    font-size: 1.2em;
}

.repository .title small {
    color: #888;
}

.repositories .details {
}

pre.normal {
    padding: 0;
    margin: 0;
    border: 0;
    margin-bottom: 10px;
    background: none;
}

.commit-message .meta {
    color: #888;
}

.commit-message .info {
    text-align: right;
    font-family: monospace;
    font-size: 12px;
}

.fam-16 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: 0 0;
    line-height: 16px;
    vertical-align: top;
}

.fam-textfile {
    background-image: url("../gfx/icons/page_white_text.png");
}

.fam-folder {
    background-image: url("../gfx/icons/folder.png");
}

.fam-image {
    background-image: url("../gfx/icons/image.png");
}

.fam-empty-file,
.fam-file {
    background-image: url("../gfx/icons/page_white.png");
}

.image-preview {
}

.image-preview img {
    max-width: 100%;
    max-height: 500px;
    margin: 20px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #CCC;
    padding: 5px;
}

.image-preview .mode {
    background: none;
    padding: 0;
    border: 0;
    display: inline-block;
}
.image-preview .mode span {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #DDD;
    padding: 0;
    margin: 4px 0;
    vertical-align: middle;
}

.image-preview .active .mode span {
    border-color: #BBB;
}

.image-preview .mode .white,
.image-preview.white img {
    background: #FFF;
}

.image-preview .mode .black,
.image-preview.black img {
    background: #000;
}

.image-preview .mode .transparent,
.image-preview.transparent img {
    background: #F9F9F9 url("../gfx/background.png");
}


.codefile {
    background: #FFF;
    /*border-radius: 0px;*/
    /*border: 1px solid #444;*/
    overflow: auto;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

.codefile .highlight {
    background: none;
}

.codefile table, .codefile td {
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

.codefile pre {
    background: none;
    border: none;
    padding: 0;
    font-size: 13px;
    line-height: 1.4em;
    margin: 0;
    overflow: auto;
    white-space: pre;
}

.linenos pre {
    padding: 0 5px;
    text-align: right;
    border-radius: 0;
    background: #EEE;
    color: #AAA;
    border-right: 1px solid #CCC;

    margin-right: 5px;
}

.branch-select {
    display: inline-block;
    width: 200px;
    vertical-align: -7px;
}

#branch-select {
    width: 120px;
}

div.browse-path {
    display: inline-block;
}

.tree-table td, .tree-table th {
    border-width: 1px 0 !important;
}

.commit-file {
    margin-bottom: 10px;
}

.commit-file .files .from,
.commit-file .files .to {
    font-weight: bold;
}

.commit-file .files .rename {
    display: inline-block;
    color: #888;
    font-size: 1.5em;
    margin: -20px 5px;
}

.commit-file .diff {
    font-family: "Droid Sans Mono", "Courier New", monospace;
    line-height: 1.4em;
    font-size: 0.9em;
    overflow: auto;
    padding-right: 2px;
    margin: -16px;
}

.commit-file .diff .patch {
    margin: 0 1px;
    width: 100%;
}

.commit-file .diff .patch td {
    vertical-align: top;
}

.commit-file .diff .patch td.number {
    background: #EEE;
    text-align: right;
    padding: 0 5px;
    border-right: 1px solid #CCC;
    color: #AAA;
}

.commit-file .diff .line {
    white-space: pre-wrap;
    padding: 0 5px;
}

.commit-file .diff .line.section {
    color: #888;
    background: #DDD;
}

.commit-file .diff .line.insertion {
    background: #DFC;
}

.commit-file .diff .line.deletion {
    background: #FDC;
}

.commit-file .diff .line.context {
    color: #AAA;
}

.stats {
    font-size: 0.8em;
}

.stats .deletions:before,
.stats .insertions:before {
    display: inline-block;
    content: " ";
    width: 10px;
    height: 10px;
    margin-right: 3px;
    vertical-align: -1px;
}

.stats .insertions {
    color: #080;
}
.stats .insertions:before {
    background: #0A0;
}

.stats .deletions {
    color: #800;
}
.stats .deletions:before {
    background: #A00;
}

.activities hr {
    margin: 10px 0;
}

.activity .date {
    color: #AAA;
}

.activity .title {
    font-size: 1.1em;
    /*font-weight: bold;*/
}

.activity .content {
    margin-top: 10px;
    padding-left: 24px;
}

.activity .icon {
    float: left;
    font-size: 21px;
    margin: 0 10px;
    color: #CCC;
}

.activity .icon.big {
    font-size: 28px;
    margin: -3px 10px;
}

.activity .title,
.activity .content {
    margin-left: 50px;
}


.merging {
    border: 2px solid #66CC88;
    padding: 10px;
    margin: 10px 0 30px;
    background: #EEE;
}

.merging.ready {
    background: #AAFFCC;
}

.request-revs {
    background: #EEE;
    border: 1px solid #CCC;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 10px;
}

.history .btn-xs {
    margin-top: -2px;
    margin-bottom: -3px;
}

#network-commit-details {
    position: absolute;
    width: 300px;
    background: #F7F7F7;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 6px;
    border-radius: 4px;
    display: none;
    z-index: 1000;
}

#network-commit-details .author {
    font-weight: bold;
    font-size: 1.1em;
}

#network-commit-details .message {
    white-space: pre-wrap;
}
